{% extends 'base.html' %}
{% block title %}
    Кубинский блог
{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="container position-relative" style="left: -20px;">
        <div class="card mb-3">
          <img src="../static/images/bch.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Тюленье счастье</h5>
            <p class="card-text">Пляжи Кубы поистине удивительны и заслуживают внимания
                каждого, кто мечтает об идеальном отдыхе. Белоснежный песок нежно переливается
                под жарким тропическим солнцем, создавая впечатление настоящего рая на земле.
                Кристально чистая вода Карибского моря манит своей прозрачностью и невероятным
                бирюзовым оттенком, что делает ее излюбленным местом для любителей плавания и
                дайвинга.
                Варадеро, один из самых знаменитых пляжей Кубы, протянулся на несколько километров и
                предлагает своим гостям разнообразные водные развлечения, от катания на водных
                лыжах до увлекательных подводных экскурсий. Этот пляж славится своими роскошными
                курортами и богатой инфраструктурой, что делает его идеальным местом для семейного
                отдыха.
                Кайо-Коко, напротив, привлекает путешественников своей нетронутой природной красотой и
                атмосферой уединенности. Здесь можно насладиться тишиной и покоем, окруженными
                экзотической флорой и фауной. Этот остров — настоящий рай для любителей природы
                и тех, кто ищет спокойствие вдали от городской суеты.
                Куба предлагает множество других живописных пляжей, каждый из которых обладает своим
                уникальным шармом и атмосферой. Независимо от того, ищете ли вы активный отдых или
                спокойное уединение, пляжи Кубы способны удовлетворить любые пожелания, оставляя
                незабываемые впечатления и желание возвращаться снова и снова.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
          </div>
        </div>
    </div>
</div>
<div class="container-sm">
    <div class="container position-relative" style="left: -20px;">
        <div class="card mb-3">
          <img src="../static/images/malecon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Вечерние бродилки по Гаване.</h5>
            <p class="card-text">Малекон в Гаване — это место, где встречаются море и город,
                создавая атмосферу романтики и волшебства. Вечером, когда солнце опускается за
                горизонт, набережная оживает звуками гитары и смехом влюбленных. Пары
                прогуливаются вдоль моря, наслаждаясь свежим бризом и видом на бескрайние волны.
                Мягкий свет уличных фонарей отражается в глазах, полных мечтаний и надежд. Здесь,
                под звездным небом Кубы, кажется, что время замирает, и только шепот волн напоминает
                о вечности. Малекон — это место, где любовь становится не просто чувством, а настоящей магией.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление 2 дня назад</small></p>
          </div>
        </div>
    </div>
</div>
 <div class="container-sm">
    <div class="container position-relative" style="left: -20px;">
        <div class="card mb-3">
          <img src="../static/images/tourism.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Самоходный туризм.</h5>
            <p class="card-text">Самостоятельные поездки по Кубе предлагают уникальную возможность
                погрузиться в атмосферу этого колоритного острова. Один из популярных вариантов —
                аренда такси. Частные такси, известные как "машрутки", позволяют путешествовать с
                комфортом и гибкостью. Вы можете договориться с водителем об индивидуальном маршруте,
                посетив такие города, как Гавана, Тринидад и Варадеро. Это отличный способ насладиться
                видами и остановиться в любом понравившемся месте.
                Другой вариант — междугородние автобусы компании Viazul. Они связывают основные туристические направления
                и предлагают доступные цены. Автобусы оснащены кондиционером, что делает поездки
                комфортными даже в жаркую погоду. Это идеальный выбор для тех, кто предпочитает более
                экономный способ передвижения и хочет познакомиться с местными жителями. Независимо от выбора,
                самостоятельные поездки по Кубе подарят незабываемые впечатления.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление 4 дня назад</small></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}