{% extends 'base.html' %}
{% block title %}
    Кубинский блог
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div class="card" style="width: 18rem;">
            <img src="../static/images/evnng.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Куда в первую очередь.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../static/images/santiago.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Огонь-вода.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../static/images/lobster.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Огонь-еда.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../static/images/good_boy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Хорошие мальчики.</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}